services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Your_password123"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql

  api:
    build:
      context: .
      dockerfile: Gastos.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Default: "Server=sqlserver,1433;Database=GastosDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
    ports:
      - "5124:5124"
    depends_on:
      - sqlserver

volumes:
  sqlserver_data:
